
.buttonQuizzes {
    width: 200px;
    margin-top: 2%;
    border-radius: 4%;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
    box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
}

.headerImg {
max-width: 100%;
}

.intro {
    background: #727070;
    display: flex;
    height: 3em;
    margin-bottom: 1em;
}

.headerText {
    color: #fff;
    margin: auto;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

.headerText2 {
    color: #fff;
    margin: auto;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.col-md-3 {
    align-self: center;
    text-align: center;
    max-width: none !important;
}

.btn-warning {
    background-color: #ffd564 !important;
    border: none !important;
    height: 4em;
    background-image: radial-gradient(circle at center, white 3px, transparent 4px), radial-gradient(circle at center, white 3px, transparent 4px);
    background-size: 14px 12px;
    background-position: center -6px, center calc(100% + 6px); 
    background-repeat: repeat-x;
    margin: 10px;
    width: 10em;
    font-family: 'Roboto', sans-serif !important;
}

.card-style {
    margin-top: 1em; 
    padding: 3em;
}

.divQA {
    margin-top: 2em; 
    
}

.summitDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 12em;
}

#buttonResults {
    margin-bottom: 2em;
}

#answer {
    display: flex;
}

/* Estilos de Input radio */
.form-radio {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #cccccc;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #e2e2e2;
}
.form-radio:checked
{
     background-color: #e2e2e2;
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 
/*Fin de estilos del input radio */

.text-questions {
    font-weight: bold;
}

.premio {
    text-align: center;
}
.letras {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.p-little{
    font-size: 1.2em !important;
}

.btn-danger {
    width: 8em !important;
}

.emoji {
    width: 20%;
}

.cover-quizzes {
    -webkit-box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
    box-shadow: 0px 0px 12px 4px rgba(214,214,214,1);
}

/* Para tablets y teléfonos */
@media screen and (max-width: 1024px) {
    .card-style {
        margin-top: 0;
        padding: 1.2em;

    }
    .divQA {
        margin-top: 0;
    }
    header {
        margin: auto;
    }
    .intro {
        display: flex;
        flex-direction: column;
        height: 5em;
        text-align: center;
    }
    #answer {
        flex-direction: column;
    }
    .display-1 {
        font-size: 3em !important;
    }

}